<form [formGroup]="userForm" class="form user-form" (ngSubmit)="submitForm()">
    <div class="form-container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Name <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="name" name="name" placeholder="Please enter a name"/>
                    <p class="text-danger"
                        [ngClass]="userForm.controls.name.value == '' && userForm.controls.name.status == 'INVALID' && userForm.controls.name.dirty ? 'show-error': 'hide-error'">
                        Name is required.</p>
                </div>
                <div class="form-group">
                    <label for="name">Username <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="user_name" name="user_name" placeholder="Please enter a username"  />
                    <p class="text-danger"
                        [ngClass]="userForm.controls.user_name.value == '' && userForm.controls.user_name.status == 'INVALID' && userForm.controls.user_name.dirty ? 'show-error': 'hide-error'">
                        Username is required.</p>
                </div>                
                <div class="form-group">
                    <label for="email_address">Email Address <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="email_address" name="email_address" placeholder="Please enter an email address" email/>
                    <div class="error" [ngClass]="userForm.controls.email_address.status == 'INVALID' ? 'show-error': 'hide-error'">
                        <p class="text-danger"
                            *ngIf="userForm.controls.email_address.value == '' && userForm.controls.email_address.status == 'INVALID'"
                            [ngClass]="userForm.controls.email_address.value == '' && userForm.controls.email_address.status == 'INVALID' && userForm.controls.email_address.dirty ? 'show-error': 'hide-error'">
                        Email address is required.</p>

                        <p class="text-danger"
                            *ngIf="userForm.controls.email_address.value != '' && userForm.controls.email_address.status == 'INVALID'"
                            [ngClass]="userForm.controls.email_address.value != '' && userForm.controls.email_address.status == 'INVALID'? 'show-error': 'hide-error'">
                        Invalid email address.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Company</label>
                    <input type="text" class="form-control" formControlName="company" name="company" placeholder="Please enter a company"  />
                </div>       
            </div>
        </div>
    </div>
</form>


<div class="buttons-container">
    <div class="btn-wrap">
        <button type="button" 
            class="btn btn-cancel" 
            title="Cancel"
            (click)="cancel('/users')">
            Cancel
        </button>
        <button type="submit" 
            class="btn btn-success" 
            [disabled]="(!userForm.valid)" 
            (click)="submitForm()"
            title="Save and Continue">
            Save and Continue
        </button>
    </div>
</div>

<div *ngIf="isFormSubmitted">
    <p class="payload">Payload: {{ formData }}</p> 
</div>


