@import "src/assets/scss/variables.scss";
.add-user {

    h1,
    p.desc {
        text-align: center;
    }

    .wrapper {
        width: 50%;
        box-shadow: 0px 5px 20px $boxShadowColor;
        padding: 50px;
        display: block;
        margin: 0 auto;
        border-radius: 15px;
        background: $white;

        .form-container {
            padding: 20px;
    
        
            label {
                color: #495057;
                margin: 0 0 5px;
                display: block;
                span {
                    &.required {
                        color: $red;
                    }
                }
            }

            .text-danger {
                color: $red;
                margin: 0;
            }

            .hide-error {
                display: none;
            }
            .show-error {
                display: block;
            }
        }
        
        .buttons-container  {
            margin-top: 20px;
            background: $white;
            border-top: 1px solid #737574;
        
            .btn-wrap {
                text-align: center;
                margin: 20px;
        
                button {
                    min-width: 150px;
                    &.btn {
                        display: inline-block;
                        font-weight: 400;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        border: 1px solid transparent;
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        border-radius: .25rem;
                        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        margin: 0 0 30px 30px;
                        &.btn-cancel {
                            background:#DDE9FF;
                            color: #00629C;
                    
                            &:hover {
                                color: rgb(0, 83, 131);
                                background-color: rgb(206, 222, 252);
                            }
                        }
            
                        &.btn-success {
                            color: $white;
                            background-color: #28a745;
                            border-color: #28a745;
                        }
            
                        &:disabled {
                            background-color: #737574;
                            border-color: #737574;
                            opacity: .65;
                        }
                        
                    }
                }
            }
        }
    }
}