<div class="user-card-detail {{pageView}}">

    <!-- list page card -->
    <ng-container *ngIf="pageView === 'list'; else detail ">
        <!-- avatar -->
        <img [src]="data?.avatar_url" alt="user avatar" />
        <!-- login name -->
        <p>{{data?.login}}</p>
    </ng-container>

    <!-- detail page card -->
    <ng-template #detail>
        <!-- avatar -->
        <img [src]="data?.avatar_url" alt="user avatar" />
        <!-- name -->
        <p class="name">{{data?.name}}</p>
        <!-- login name -->
        <p class="username">{{data?.login}}</p>
        <!-- company -->
        <p class="company">{{data?.company}}</p>
        <!-- # of follower -->
        <p class="follower">{{data?.followers}} followers</p>
        <!-- # of public repos -->
        <p class="public_repos">{{data?.public_repos}} public repos</p>
        <!-- link for github profile -->
        <a [href]="data?.html_url" target="_blank" title="See github profile">Visit Github Profile</a>
    </ng-template>

</div>
