@import "src/assets/scss/variables.scss";
.user-card-detail {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    min-height: 180px;
    margin: 0 5px 5px;

    &:hover {
        background-color: #00bed8;
        cursor: pointer;
    }

    img {
        width: 150px;
        padding: 0 0 10px;
    }

    p {
        color: $white;
        margin: 0;
    }

    a {
        display: block;
        color: $linkColor;
    }

    &.detail {
        border: none;

        &:hover {
            background: none;
            cursor: default;
        }
 
        img {
            width: 350px;
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            border: 3px solid $red;
            padding: 0;
        }

        p {
            &.name {
                font-size: 1.5em;
            }
            margin: 1rem;
            color: $bodyColor;
            
        }
    }
}