@import "src/assets/scss/variables.scss";
.user-list {
    .no-padding {
        padding: 0 !important;
    }

    h1 {
        font-size: 1.5em;
        padding: 0.83em 0;
        margin: 0;
        line-height: normal;
    }
    .headerBar {
      margin: 0 0 0 10px;
    }
    .searchBar {
      background: $white;
      padding-right: 0;
      .input-container {
        input {
          width: 99%;
          font-size: 1.25em;
          border: none;
          padding: 18px 0;
          &:focus {outline:0 !important;}
        }
      }
    }
    .add-user-btn {
      background: transparent linear-gradient(180deg, #11B3D1 0%, #1B7FD0 88%, #1B7FD0 100%) 0% 0% no-repeat padding-box;
      height: 60px;
      width: 100%;
      max-width: 150px;
      border: none;
      border-radius: 3px;
      color: $white;
      &:focus {outline:0 !important;}
      cursor: pointer;

      .material-icons {
        background: $white;
        color: #1B7FD0;
        border-radius: 70px;
        height: auto;
        width: auto;
        vertical-align: middle;
        margin: -3px 5px 0 0;
      }
    } 
}