<div class="row no-gutter user-list">
    <div class="col">
        <!-- search bar -->
        <div class="row">
            <div class="col">
                <h1>{{pageMeta.title}}</h1>
                <p>{{pageMeta.description}}</p>
                
                <div class="row no-gutter headerBar">
                    <!-- search input -->
                    <div class="searchBar col-9">
                      <div class="input-container">
                        <input type="text" name="search" placeholder="username" [(ngModel)]="userInput" (keydown.enter)="searchUserByName()">
                      </div>
                    </div>
                    <!-- add user -->
                    <div class="col-2">
                      <button class="add-user-btn" (click)="utils.navigateToUrl('/users/add')">
                        <i class="material-icons">add</i> Add User
                      </button>
                    </div>
                </div>

            </div>
        </div>
        <!-- content -->
        <div class="row">
            <div class="col">
                <!-- loader spinner -->
                <app-loader *ngIf="utils.loading"></app-loader>     
                <!--  not found  -->
                <p class="not-found" *ngIf="errorMsg">
                    Git User {{errorMsg}}
                </p>
                <!-- users content -->
                <div class="d-flex flex-row align-content-stretch flex-wrap mb-3 mt-3">
                    <div class="p-2" *ngFor="let user of users">
                        <app-user-card-detail 
                            [data]="user" 
                            [pageView]="'list'" 
                            (click)="goToUserDetail(user.login)"
                        ></app-user-card-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>