<div class="row no-gutter user-detail">
    <div class="col">
        <h1>{{pageMeta.title}}</h1>
        <!-- loader spinner -->
        <app-loader *ngIf="utils.loading"></app-loader>
        <!-- detail -->
        <div class="card-wrapper" *ngIf="!utils.loading && !hasError">
            <app-user-card-detail 
                [data]="user" 
                [pageView]="'detail'"
            ></app-user-card-detail>
        </div>
        <!--  not found  -->
        <p class="not-found" *ngIf="errorMsg">
           Git User {{errorMsg}}
        </p>
        <!-- back to list -->
        <button *ngIf="!utils.loading" type="button" class="back" title="Back to users" (click)="utils.navigateToUrl('/users')">
            Back to Users
        </button>

    </div>
</div> 