@import "src/assets/scss/variables.scss";
.user-detail {
    h1 {
        text-align: center;
    }
    .card-wrapper {
        width: 50%;
        box-shadow: 0px 5px 20px $boxShadowColor;
        padding: 50px;
        display: block;
        margin: 0 auto;
        border-radius: 15px;
        background: $white;
    }

    button {
        &.back {
            width: 30%;
            display: block;
            margin: 50px auto;
            background: linear-gradient(268deg, $linkColor 0, $lightBlue 100%) no-repeat padding-box;
            border: none;
            padding: 10px;
            color: $white;
            border-radius: 20px;
            cursor: pointer;
        }
        &:hover {
            background: linear-gradient(268deg, $lightBlue 0, $linkColor 100%) no-repeat padding-box!important;
        }
    }

}