@import "src/assets/scss/variables.scss";
@import "src/assets/scss/layout.scss";
@import "src/assets/scss/forms.scss";

body {
    background: $bodyColor;
    color: $white;
    // overflow: hidden;
    padding: 10px;
    height: 100%;
    margin: 0;

    * {
        font-family: 'Lato';
        font-weight: 400;
        font-style: normal;
      }
      // flex utilities   
      .d-flex {
        display: -ms-flexbox;
        display: flex;
      }
      .flex-row {
        -ms-flex-direction: row;
        flex-direction: row;
      }
      
      .flex-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      
      .align-content-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
      }

      // margin n padding utilities      
      .mt-3 {
        margin-top: 1rem;
      }
      
      .mb-3 {
        margin-bottom: 1rem;
      }

      // spinner loading
      .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $white;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $white transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .not-found {
        font-size: 1.75em;
        color: $red;
        text-align: center;
      }

    .loader-wrap {
        width: 150px;
        height: auto;
        margin: 30px auto 0;
        .mat-progress-spinner circle, .mat-spinner circle {
            stroke: $white;
        }
    }
}

